@import "src/styles/_variables.scss";

.gallery {
  display: flex;
  margin: 0 -8px;

  &Item {
    flex: 1 1 calc(100% / 3 - 16px);
    margin: 8px;

    @media screen and (max-width: 992px) {
      flex: 0 0 calc(50% - 16px);
    }
  }

  &ItemClickLayer {
    background: none;
    border: none;
    height: 100%;
    width: 100%;

    &:hover {
      .galleryImageCaption {
        color: $function-text-color;
      }
      .galleryImage {
        transform: translate3d(0, -8px, 0);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  &ImageWrapper {
    height: calc(100% - 20px - 8px);
  }

  &Image {
    object-fit: cover;
  }

  &ImageCaption {
    margin: 0;
    margin-top: 8px;
    text-align: center;
    color: $main-text-color;
  }
}

.likeButton {
  background: none;
  border: none;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: $main-text-color;
  font-size: 32px;
}

.paginationButton {
  background: none;
  border: 1px solid $light-text-color;
  color: $light-text-color;
  font-size: 20px;
  margin-top: 8px;

  &.disabled {
    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    border-color: $main-text-color;
    color: $main-text-color;
  }
}
